.advantages {
  margin-bottom: 23px;
  text-align: center;
  background-color: $gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include tablet {
    margin-bottom: 0;
    text-align: left;
  }

  @include desktop {
    text-align: center;
  }
}

.advantages__inner {
  @include inner;
  padding-top: 58px;
  padding-bottom: 305px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center bottom -45px;
  @include retina("../img/iphone-screen-mobile@2x.png", 157px, 320px);

  @include tablet {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 310px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 20px top;
    @include retina("../img/iphone-screen-3-tablet@2x.png", 268px, 481px);
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 10px;
    background-image: none;
  }
}

.advantages__image {
  display: none;
}

.advantages__block {
  padding: 26px 10px 10px;
  margin-bottom: 0;

  @include tablet {
    padding: 20px 0 10px;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  @include desktop {
    width: 32%;
    padding: 0;
    padding-top: 355px;
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat top center;
    @include retina("../img/iphone-screen-2-desktop@2x.png", 292px, 302px);

    &:first-child {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      @include retina("../img/iphone-screen-1-desktop@2x.png", 292px, 302px);
    }

    &:last-child {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      @include retina("../img/iphone-screen-3-desktop@2x.png", 292px, 302px);
    }
  }
}

.advantages__title {
  @include font(18px, 24px);
  margin: 0;
  margin-bottom: 10px;
  color: $black;

  @include tablet {
    margin-bottom: 12px;
  }

  @include desktop {
    @include font(30px, 30px);
    margin-bottom: 25px;
  }
}

.advantages__description {
  margin: 0;

  @include desktop {
    padding: 0 20px;
  }
}
