.page-footer {
  @include inner;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px;
  }

  @include desktop {
    padding: 72px 10px;
  }

  &--main {
    @include mobile-only {
      display: none;
    }
  }
}

.page-footer__logo {
  position: relative;
  display: block;
  width: 146px;
  height: 40px;
  // padding: 35px 0;
  @include line(green);

  @include tablet {
    padding-bottom: 10px;
  }

  &:hover .page-footer__icon,
  &:focus .page-footer__icon {
    fill: $pink;
  }

  &:active .page-footer__icon {
    fill: $blue-dark;
    opacity: 0.3;
  }
}

.page-footer__icon {
  position: absolute;
  fill: $blue-dark;

  &--academy {
    fill: $pink;
  }
}

.page-footer__icon--mobile {
  display: block;

  @include desktop {
    display: none;
  }
}

.page-footer__icon--desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.page-footer__copyright {
  color: $blue-dark;
  @include font(14px, 18px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 128px;
  height: 34px;

  @include tablet {
    padding-left: 18px;
  }

  @include desktop {
    @include font(18px, 18px);
    width: 155px;
    padding-left: 0;
  }
}

.page-footer__link {
  display: block;
  width: 27px;
  height: 34px;
}
