.system {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 205px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 35px;
  }

  @include desktop {
    margin-bottom: 55px;
  }
}

.system__link {
  @include image-replacement;
  width: 48px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--microsoft {
    background-image: url("../img/logo-microsoft.svg");
  }
}
